[submodule "plugins/redmine_s3"]
  path = plugins/redmine_s3
  url = git://github.com/ka8725/redmine_s3.git
[submodule "public/themes/pepper"]
  path = public/themes/pepper
  url = git://github.com/koppen/redmine-pepper-theme.git
[submodule "public/themes/pixel-cookers"]
  path = public/themes/pixel-cookers
  url = git://github.com/alfajango/redmine-theme.git
  branch = alfajango
[submodule "plugins/redmine_better_gantt_chart"]
  path = plugins/redmine_better_gantt_chart
  url = https://github.com/kulesa/redmine_better_gantt_chart.git
[submodule "plugins/stuff_to_do_plugin"]
  path = plugins/stuff_to_do_plugin
  url = git://github.com/JangoSteve/redmine-stuff-to-do-plugin.git
[submodule "plugins/cashboard_tasks"]
  path = plugins/cashboard_tasks
  url = https://github.com/alfajango/redmine-cashboard-tasks.git
[submodule "plugins/redmine_lightbox"]
  path = plugins/redmine_lightbox
  url = git@github.com:zipme/redmine_lightbox.git
[submodule "plugins/redmine_dashboard"]
  path = plugins/redmine_dashboard
  url = git@github.com:jgraichen/redmine_dashboard.git
[submodule "plugins/redmine_schedules"]
  path = plugins/redmine_schedules
  url = git@github.com:bradbeattie/redmine-schedules-plugin.git
[submodule "plugins/redmine_dashboard"]
  path = plugins/redmine_dashboard
  url = https://github.com/jgraichen/redmine_dashboard.git
[submodule "plugins/redmine_schedules"]
  path = plugins/redmine_schedules
  url = https://github.com/bradbeattie/redmine-schedules-plugin.git
